/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.thumbnail-container {
  width: 200px;
  height: 300px;
  float: left;
  overflow: scroll;
}

.thumbnail img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.bio-column {
  width: 30%;
  padding-right: 20px;
  float: left;
  overflow: hidden;
}

.toot-column {
  overflow: scroll;
  height: 600px;
}

.date-in-words {
  float: right;
  color: #909497;
}

.toot-form {
  border-style: solid;
  border-width: thin;
  padding: 20px;
}

.toot {
  margin: 10px;
  padding: 10px;
  border-style: solid;
  border-width: thin;
}
.toot p {
  padding: 20px;
}
